<?xml version="1.0"?>
<!--
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Training\WorkingWithDatabases\Api\Data\TodoInterface" type="Training\WorkingWithDatabases\Model\Data\TodoData" />
    <!-- Custom CLI Commands -->
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="training_workingwithdatabases_todo" xsi:type="object">Training\WorkingWithDatabases\Console\AddTodoCommand</item>
                <item name="training_workingwithdatabases_loadextensiblecollection" xsi:type="object">Training\WorkingWithDatabases\Console\LoadExtensibleCollectionCommand</item>
            </argument>
        </arguments>
    </type>
</config>
