<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Training Config -->
    <virtualType name="TrainingConfigData" type="Training\MagentoArchitecture\Model\Config\Training\ScopedData">
        <arguments>
            <argument name="reader" xsi:type="object">Training\MagentoArchitecture\Model\Config\Training\Reader\Proxy</argument>
            <argument name="cacheId" xsi:type="string">training_config</argument>
        </arguments>
    </virtualType>
    <virtualType name="TrainingConfigSchemaLocator" type="Magento\Framework\Config\GenericSchemaLocator">
        <arguments>
            <argument name="moduleName" xsi:type="string">Training_MagentoArchitecture</argument>
            <argument name="schema" xsi:type="string">training_config.xsd</argument>
            <argument name="perFileSchema" xsi:type="string">training_config.xsd</argument>
        </arguments>
    </virtualType>
    <type name="Training\MagentoArchitecture\Model\Config\Training\Reader">
        <arguments>
            <argument name="schemaLocator" xsi:type="object">TrainingConfigSchemaLocator</argument>
        </arguments>
    </type>
    <type name="Training\MagentoArchitecture\Console\TrainingCommand">
        <arguments>
            <argument name="trainingConfigReader" xsi:type="object">TrainingConfigData</argument>
            <!--<argument name="trainingConfigReader" xsi:type="object">RemoteSchemaConfigData</argument>-->
        </arguments>
    </type>
    <!-- Remote Schema Config -->
    <virtualType name="RemoteSchemaConfigData" type="Magento\Framework\Config\Data">
        <arguments>
            <argument name="reader" xsi:type="object">Training\MagentoArchitecture\Model\Config\RemoteSchema\Reader\Proxy</argument>
            <argument name="cacheId" xsi:type="string">remote_schema_config</argument>
        </arguments>
    </virtualType>
    <!-- Interceptor Practice -->
    <type name="Training\MagentoArchitecture\Model\Service\SpreadSomeLoveService">
        <plugin name="training_magentoarchitecture_adjust_spread_some_love_a" type="Training\MagentoArchitecture\Plugin\AdjustSpreadSomeLoveAPlugin" sortOrder="10" />
        <plugin name="training_magentoarchitecture_adjust_spread_some_love_b" type="Training\MagentoArchitecture\Plugin\AdjustSpreadSomeLoveBPlugin" sortOrder="20"/>
        <plugin name="training_magentoarchitecture_adjust_spread_some_love_c" type="Training\MagentoArchitecture\Plugin\AdjustSpreadSomeLoveCPlugin" sortOrder="30"/>
    </type>
    <type name="Training\MagentoArchitecture\Plugin\AdjustSpreadSomeLoveAPlugin">
        <plugin name="training_magentoarchitecture_adjust_plugin_via_plugin" type="Training\MagentoArchitecture\Plugin\AdjustPluginPlugin"/>
    </type>
    <!-- Custom CLI Commands -->
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="training_magentoarchitecture_training_command" xsi:type="object">Training\MagentoArchitecture\Console\TrainingCommand</item>
                <item name="training_magentoarchitecture_spread_some_love_command" xsi:type="object">Training\MagentoArchitecture\Console\SpreadSomeLoveCommand</item>
            </argument>
        </arguments>
    </type>
</config>
